/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/out/
/local/
/test/resources/structure-full.sql
/frontend/node_modules/
/frontend/elm-stuff/
/frontend/review/elm-stuff/
/frontend/index.js
