.app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #F1F6F8;
}

.table {
    position: absolute;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 8px 0 0 0;
    border-color: #B8C2CC;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
