:root {
    --navbar-height: 54px;
    --modal-backdrop-z-index: 1040;
    --offcanvas-z-index: 1050;
    --modal-z-index: 1060;
    --table-z-index: 10;
    --relation-z-index: 9;
    --loading-z-index: 10000; /* should be on top of everything */
    --bg-light: #F1F6F8;
    /* shade 500 */
    --tw-gray: #6B7280;
    --tw-red: #EF4444;
    --tw-yellow: #F59E0B;
    --tw-green: #10B981;
    --tw-blue: #3B82F6;
    --tw-indigo: #6366F1;
    --tw-purple: #8B5CF6;
    --tw-pink: #EC4899;

    --tw-gray-100: #F3F4F6;
}

body {
    overflow: hidden;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg-light);
    z-index: var(--loading-z-index);
}

#navbar {
    z-index: calc(var(--offcanvas-z-index) + 1);
}

.modal-open #navbar {
    z-index: calc(var(--modal-backdrop-z-index) - 1);
}

#menu {
    top: var(--navbar-height);
}

#erd {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
    background-color: var(--bg-light);
}

#erd .canvas {
    /* needed to have a correct zoom to cursor computing */
    transform-origin: top left;
}

.erd-table {
    position: absolute;
    min-width: 200px;
    background-color: #FFFFFF;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    z-index: var(--table-z-index);
}

.erd-table .header { border-top-color: var(--tw-gray); }
.erd-table.gray .header { border-top-color: var(--tw-gray); }
.erd-table.red .header { border-top-color: var(--tw-red); }
.erd-table.yellow .header { border-top-color: var(--tw-yellow); }
.erd-table.green .header { border-top-color: var(--tw-green); }
.erd-table.blue .header { border-top-color: var(--tw-blue); }
.erd-table.indigo .header { border-top-color: var(--tw-indigo); }
.erd-table.purple .header { border-top-color: var(--tw-purple); }
.erd-table.pink .header { border-top-color: var(--tw-pink); }

.erd-table.selected { box-shadow: var(--tw-gray) 0 0 0 3px; }
.erd-table.selected.gray { box-shadow: var(--tw-gray) 0 0 0 3px; }
.erd-table.selected.red { box-shadow: var(--tw-red) 0 0 0 3px; }
.erd-table.selected.yellow { box-shadow: var(--tw-yellow) 0 0 0 3px; }
.erd-table.selected.green { box-shadow: var(--tw-green) 0 0 0 3px; }
.erd-table.selected.blue { box-shadow: var(--tw-blue) 0 0 0 3px; }
.erd-table.selected.indigo { box-shadow: var(--tw-indigo) 0 0 0 3px; }
.erd-table.selected.purple { box-shadow: var(--tw-purple) 0 0 0 3px; }
.erd-table.selected.pink { box-shadow: var(--tw-pink) 0 0 0 3px; }

.erd-table .column:hover .icon, .erd-table .column:hover .name, .erd-table .column:hover .type { color: var(--tw-gray); }
.erd-table.gray .column:hover .icon, .erd-table.gray .column:hover .name, .erd-table.gray .column:hover .type { color: var(--tw-gray); }
.erd-table.red .column:hover .icon, .erd-table.red .column:hover .name, .erd-table.red .column:hover .type { color: var(--tw-red); }
.erd-table.yellow .column:hover .icon, .erd-table.yellow .column:hover .name, .erd-table.yellow .column:hover .type { color: var(--tw-yellow); }
.erd-table.green .column:hover .icon, .erd-table.green .column:hover .name, .erd-table.green .column:hover .type { color: var(--tw-green); }
.erd-table.blue .column:hover .icon, .erd-table.blue .column:hover .name, .erd-table.blue .column:hover .type { color: var(--tw-blue); }
.erd-table.indigo .column:hover .icon, .erd-table.indigo .column:hover .name, .erd-table.indigo .column:hover .type { color: var(--tw-indigo); }
.erd-table.purple .column:hover .icon, .erd-table.purple .column:hover .name, .erd-table.purple .column:hover .type { color: var(--tw-purple); }
.erd-table.pink .column:hover .icon, .erd-table.pink .column:hover .name, .erd-table.pink .column:hover .type { color: var(--tw-pink); }

.erd-table:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.erd-table .header {
    background-color: #F8FAFC;
    border-top: 8px solid #B8C2CC;
    border-bottom: 1px solid #E2E8F0;
    border-radius: .5rem .5rem 0 0;
    padding: .5rem 1.5rem;
    text-align: center;
    color: #4A5568;
    font-size: 1.25rem;
    font-weight: 500;
    height: 48px;
}

.erd-table:hover .header {
    background-color: #EBF4FF;
}

.erd-table .column,
.erd-table .hidden-column {
    display: -webkit-box;
    display: flex;
    padding: 0.35rem .5rem;
    line-height: 1.25;
    height: 31px;
}

.erd-table .column:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.erd-table .column:hover {
    background-color: #F5F7FA;
}

.erd-table .column:hover .icon,
.erd-table .column:hover .name,
.erd-table .column:hover .type {
    opacity: 1;
}

.erd-table .column .icon,
.erd-table .hidden-column .icon {
    color: #8795A1;
    width: 15px;
    height: 100%;
    margin-right: .25rem;
    flex-shrink: 0;
}

.erd-table .column .name,
.erd-table .hidden-column .name {
    color: #606F7B;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.erd-table .column .name.bold,
.erd-table .hidden-column .name.bold {
    font-weight: 700;
}

.erd-table .column .type,
.erd-table .hidden-column .type {
    opacity: .25;
    margin-left: .25rem;
    -webkit-box-flex: 0;
    flex-grow: 0;
}

.erd-table .hidden-columns {
    background-color: #EDF2F7;
    padding: .25rem .5rem .5rem .5rem;
    margin: .5rem;
    border-radius: .5rem;
}

.erd-table .hidden-columns .toggle {
    color: #A0AEC0;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}

.erd-table .hidden-column {
    background-color: #FFFFFF;
    border-radius: .25rem;
    margin-top: .25rem;
}

.erd-relation {
    z-index: var(--relation-z-index);
}

.commands {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: var(--bg-light);
    border-radius: .2rem;
}

.drop-zone {
    border: 2px dashed var(--tw-blue);
    border-radius: 1em;
    background: var(--tw-gray-100);
    min-height: 150px;
    padding: 54px;
    display: block;
    cursor: pointer;
    text-align: center;
}

.drop-zone .title {
    display: block;
    font-weight: 400;
    margin: 0;
    line-height: 38px;
    color: var(--tw-gray);
}

.drop-zone .warning {
    display: block;
}

/* Styles for Bootstrap */

.btn-text {
    line-height: 38px;
}

button.link {
    border: none;
    padding: 0;
    background: transparent;
}

#toast-container {
    z-index: calc(var(--modal-z-index) + 1);
    overflow: auto;
    max-width: calc(100% - 20px);
    max-height: calc(100vh - 32px);
}
