:root {
    --navbar-height: 56px;
    --offcanvas-z-index: 1050;
    --table-z-index: 10;
    --relation-z-index: 9;
    --loading-z-index: 10000; /* should be on top of everything */
    --bg-light: #F1F6F8;
}

.app {
    overflow: hidden;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg-light);
    z-index: var(--loading-z-index);
}

#navbar {
    z-index: calc(var(--offcanvas-z-index) + 1);
}

#menu {
    top: var(--navbar-height);
}

#erd {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
    background-color: var(--bg-light);
}

#erd .canvas {
    /* needed to have a correct zoom to cursor computing */
    transform-origin: top left;
}

.erd-table {
    position: absolute;
    min-width: 200px;
    background-color: #FFFFFF;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    z-index: var(--table-z-index);
}

.erd-table:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.erd-table .header {
    background-color: #F8FAFC;
    border-top: 8px solid #B8C2CC;
    border-bottom: 1px solid #E2E8F0;
    border-radius: .5rem .5rem 0 0;
    padding: .5rem 1.5rem;
    text-align: center;
    color: #4A5568;
    font-size: 1.25rem;
    font-weight: 500;
    height: 48px;
}

.erd-table:hover .header {
    background-color: #EBF4FF;
}

.erd-table .column,
.erd-table .hidden-column {
    display: -webkit-box;
    display: flex;
    padding: 0.35rem .5rem;
    line-height: 1.25;
    height: 31px;
}

.erd-table .column:hover,
.erd-table .hidden-column:hover {
    background-color: #F5F7FA;
}

.erd-table .column:hover .icon,
.erd-table .column:hover .name,
.erd-table .column:hover .type,
.erd-table .hidden-column:hover .icon,
.erd-table .hidden-column:hover .name,
.erd-table .hidden-column:hover .type {
    color: #9F7AEA;
    opacity: 1;
}

.erd-table .column .icon,
.erd-table .hidden-column .icon {
    color: #8795A1;
    width: 15px;
    height: 100%;
    margin-right: .25rem;
    flex-shrink: 0;
}

.erd-table .column .name,
.erd-table .hidden-column .name {
    color: #606F7B;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.erd-table .column .name.bold,
.erd-table .hidden-column .name.bold {
    font-weight: 700;
}

.erd-table .column .type,
.erd-table .hidden-column .type {
    opacity: .25;
    margin-left: .25rem;
    -webkit-box-flex: 0;
    flex-grow: 0;
}

.erd-table .hidden-columns {
    background-color: #EDF2F7;
    padding: .25rem .5rem .5rem .5rem;
    margin: .5rem;
    border-radius: .5rem;
}

.erd-table .hidden-columns .toggle {
    color: #A0AEC0;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}

.erd-table .hidden-column {
    background-color: #FFFFFF;
    border-radius: .25rem;
    margin-top: .25rem;
}

.erd-relation {
    z-index: var(--relation-z-index);
}


/* Styles for Bootstrap */

.dropdown-menu {
    max-height: 1000px;
    overflow-y: auto;
}
